body
{
    margin: 0;
    background: #EEE;
}
main
{
    display: flex;
    width: 1024px;
    border: 1px solid black;
    height: 1450px;
    margin: 10px auto;
    background-color: #fff;
}
.left
{
    background: #66C;
    width: 30%;
    height: 1450px;
}
.name-l
{
    color: white;
    font-size: 4em;
    margin: 30px 20px 0 0;
    text-align: right;
    font-weight: normal;
}
.right
{
    background: #FFF;
    width: 70%;
    height: 1450px;
    margin-left: 20px;
}
.right div, .right h1
{
    /* border: 1px solid black; */
    margin-bottom: 10px;
}
.name-r
{
    color: #66C;
    font-size: 4em;
    margin-top: 30px;
    font-weight: normal;
    /* border: 1px solid black; */
}
.work
{
    font-size: 1.8em;
}
.s-work
{
    font-size: 1.6em;
}
h2
{
    color: #66C;
    text-transform: uppercase;
}
table, tr, td
{
    /* border: 1px solid black; */
}
.tdl
{
    width: 35%;
    text-align: right;
    padding-right: 20px;
}
.tdlc
{
    width: 25%;
    text-align: right;
    padding-right: 20px;
}
.orange
{
    color: rgb(204, 138, 15);
}
.blue
{
    color: #66C;
}
.project
{
    text-decoration: none;
    color: #66C;
}
.hr-r
{
    position: relative;
    width: 40%;
    left: -15%;
}
.form
{
    padding-left: 5%;
}
h4
{
    margin: 0 0 10px 0;
}
.form ul
{
    margin: 0;
}
.form li
{
    list-style-type: square;
}
.work-td
{
    width: 20%;
    height: 90px;
    text-align: center;
}
.work-d
{
    padding-left: 30px;
}
.ot
{
    margin-top: 10px;
}
.time
{
    width: 90%;
    margin: auto;
}
.time-date
{
    width: 100%;
}
.time td
{
    text-align: center;
}
.time
{
    border-bottom: 5px solid orange;
}
.time-top td
{
    width: 33%;
}
.time-bottom td
{
    width: 25%;
    font-size: 0.9em;
}
.t-left
{
    padding-left: 1%;
}
.t-right
{
    text-align: right;
    padding-right: 1%;
}
.diam
{
    color: orange;
    font-size: 1.2em;
    position: relative;
    text-align: center;
    bottom: -17px;
    left: -30px;
}