/* WORK TO DO */
/* Rework vertical div "experiences" */
/* position divs left */

body
{
    margin: 0;
    background: #EEE;
}

/* PAGE */
main
{
    display: flex;
    width: 1024px;
    border: 1px solid black;
    height: 1450px;
    margin: 10px auto;
    /*CSS TEST A SUPP*/
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 3px black;
}
.right a:hover
{
    color:rgb(190, 126, 6);
}
/*DIV LEFT*/
.left
{
    background: #66C;
    width: 30%;
    color: white;
}
.left a
{
    color: white;
    text-decoration: none;
}
.left a:hover
{
    font-weight: bold;
}
.left div, .left h2, .left h3
{
    padding-left: 20px;
}
.name-l
{
    font-size: 4em;
    margin: 30px 20px 0 0;
    text-align: right;
    font-weight: normal;
}
/* .left div, .left h1
{
    border: 1px solid black;
} */
h1
{
    text-transform: uppercase;
    text-shadow: 1px 1px 1.5px black;
}
h2
{
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 1.5px black;
}
.photo
{
    height: 215px;
    padding-left: -20px;
}
.photo img
{
    width: 60%;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 2px 4px 5px black;
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    left: -3%;
    top: 15px;
}
.contact img
{
    position: relative;
    top:4px;
    width: 17px;
    margin-right: 2px;
}
.contact, .qualities, .certifications, .hobbies
{
    padding-bottom: 5px;
}
.contact li
{
    list-style-type: none;
    padding-bottom: 7px;
}
.qualities li
{
    list-style-type: none;
    padding-bottom: 4px;
}
.certifications li
{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.certifications
{
    height: 310px;
}
.certifications img
{
    position: relative;
    top: 7px;
    height: 25px;
    margin-right: 10px;
}
.hobbies li
{
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.hobbies img
{
    position: relative;
    top: 9px;
    height: 30px;
    margin-right: 10px;
}
/*DIV RIGHT*/
.right
{
    background: #FFF;
    width: 70%;
    margin-left: 20px;
}
.right div, .right h1
{
    /* border: 1px solid black; */
    margin-bottom: 10px;
}
.name-gest
{
    display: flex;
}
.name-resp
{
    display: none;
}
.name-r
{
    color: #66C;
    font-size: 4em;
    margin-top: 30px;
    font-weight: normal;
    /* border: 1px solid black; */
}
.work
{
    font-size: 1.8em;
}
.s-work
{
    font-size: 1.6em;
}
.right h2
{
    color: #66C;
}
.tdl
{
    width: 35%;
    text-align: right;
    padding-right: 20px;
}
.tdlc
{
    width: 25%;
    text-align: right;
    padding-right: 20px;
    height: 45px;
}
.orange
{
    color: rgb(204, 138, 15);
}
.blue
{
    color: #66C;
}
.project
{
    text-decoration: none;
    color: #66C;
}
.hr-r
{
    position: relative;
    width: 40%;
    left: -15%;
}
.form
{
    padding-left: 5%;
}
h4
{
    margin: 0 0 10px 0;
}
.form ul
{
    margin: 0;
}
.form li
{
    list-style-type: square;
}
.work-td
{
    width: 20%;
    height: 80px;
    text-align: center;
}
.work-d
{
    padding-left: 30px;
}
.time
{
    width: 90%;
    margin: auto;
    border-bottom: 5px solid orange;
}
.time-date
{
    width: 100%;
}
.time td
{
    text-align: center;
}
.time-top td
{
    width: 33%;
}
.time-bottom td
{
    width: 25%;
    font-size: 0.9em;
}
.t-left
{
    padding-left: 1%;
}
.t-right
{
    text-align: right;
    padding-right: 1%;
}
.little
{
    font-size: 0.95em;
}
.diam
{
    color: orange;
    font-size: 1.2em;
    position: relative;
    bottom: -17px;
}
.diam1
{
    left: -50px;
}
.diam2
{
    left: 30px;
}
.diam3
{
    left: 28px;
}
.diam4
{
    left: 40px;
}
.diam5
{
    left: -25px;
}
.diam6
{
    left: 20px;
}
.diam7
{
    left: 15px;
}
.diam8
{
    left: 15px;
}
.ot
{
    margin-top: 10px;
}
.ot span
{
    display: block;
}
.worked-resp
{
    display: none;
}
.left-resp
{
    display: none;
}
@media screen and (max-width: 1024px) {
    .left
    {
        display: none;
    }
    .right
    {
        /* border: 1px solid black; */
        width: 100%;
        margin-left: 0;
        padding: 0 2%;
        /* max-width: 700px; */
    }
    /* .right div
    {
        margin: 0 2%;
    } */
    main
    {
        width: 99%;
        height: inherit;
        margin: 0 0.5%;
    }
    .name-resp
    {
        display: inline;
        padding-right: 20px;
    }
    .worked
    {
        display: none;
    }
    .worked-resp
    {
        display: block;
    }
    .left-resp
    {
        display: block;
        margin-left: -2%;
    }
}
/* pro resp */
/* .pro-resp *
{
    border: 1px solid black;
} */
.pro-resp
{
    display: flex;
    margin-top: 40px;
}
.pro1, .pro2
{
    width: 50%;
    display: flex;
    /* border-left: 1px solid lightgrey; */
}
/* .pro3
{
    width: 20%;
    display: flex;
} */
.pro-resp table
{
    border-spacing: 0;
    font-size: 1em;
}
.pro-title
{
    width: 33%;
    text-align: center;
    font-size: 0.9em;
    min-width: 80px;
    min-height: 34px;
}
.pro-title2
{
    width: 20%;
    text-align: center;
    font-size: 0.9em;
    min-width: 80px;
    min-height: 34px;
}
.td-right
{
    border-left:4px solid rgb(190, 126, 6);
    padding-left: 10px;
}
.mid
{
    text-align: center;
}
.bold
{
    font-weight: bold;
}
.cds td
{
    height: 30px;
}
.year
{
    display:flex;
    position: relative;
    left: 11.5px;
    /* min-height: 34px; */
}
.year-top
{
    bottom: 16px;
}
.year-bottom
{
    bottom: -16px;
}
.year-midtop
{
    bottom: 6px;
}
.year-midbot
{
    bottom: -6px;
}
.work-tabletop
{
    position: relative;
    bottom: 8px;
}
.work-tablebot
{
    position: relative;
    bottom: -8px;
}
.diam-resp
{
    color: rgb(190,126,6);
    font-size: 1.3em;
    position: relative;
    top: -4px;
}
.diam-resp2
{
    color: rgb(190,126,6);
    font-size: 1.3em;
    position: relative;
    top: -4px;
}
.worked-resp hr
{
    margin-inline-start: 5em;
    margin-inline-end: 5em;
}
.ot-resp
{
    padding-top: 15px;
    margin-top: 10px;
    width: 60%;
    margin: auto;
}
.ot-resp span
{
    display: block;
}
.left-resp *
{
    background-color: #66C;
    color: white;
}
.left-resp a
{
    text-decoration: none;
    font-weight: normal;
}
.left-resp h2
{
    color: white;
}
.left-resp-top div
{
    margin-bottom: 0;
}
.left-resp div
{
    background-color: #66C;
}
.left-resp-top div
{
    width: 45%;
    display: inline-block;
}
.left-resp div
{
    padding-left: 15px;
}
.left-resp-top .hobbies li
{
    margin-bottom: 14px;
}
.left-resp-top .hobbies ul
{
    margin-bottom: 0px;
}
.qualities-r li
{
    margin-bottom: 5px;
}
@media screen and (max-width: 700px)
{
    .pro-resp
    {
        display: flex;
        flex-direction: column;
    }
    .pro2
    {
        margin-top: 30px;
    }
}
/* RESP sub 600px */
@media screen and (max-width: 600px) {
    .pro-resp
    {
        display: flex;
        flex-direction: column;
    }
    .pro1, .pro2
    {
        width: 100%;
        display: flex;
    }
    .pro-title2
    {
        width: 10%;
    }
    .pro2
    {
        margin-top: 30px;
    }
    .ot-resp
    {
        width: 90%;
        margin-left: 10%;
    }
    .left-resp-top div
    {
        width: 99%;
        display: inline-block;
    }
}